#!/usr/bin/env bash
# ^^^ for syntax checking in the editor only

[ -z "$MDLT_ORIGIN" ] && echo "SourceConsole: Working in $MMDAPP" >&2
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc" 

. "${MDLT_ORIGIN:-$MMDAPP/.local}/myx/myx.distro-system/sh-lib/SystemContext.include"
DistroSystemContext --distro-from-source

# export BASH_ENV="$MDLT_ORIGIN/myx/myx.distro-source/sh-lib/console-source-bashrc.rc"


if [ -x "$MDLT_ORIGIN/myx/myx.common/os-myx.common/host/tarball/bin/myx.common" ] ; then
	PATH="$MDLT_ORIGIN/myx/myx.common/os-myx.common/host/tarball/bin:$PATH"
fi

# add paths, replace if any
PATH="$( echo "$PATH" | sed -E "s|:$MDLT_ORIGIN/myx/myx.distro-\(source\|deploy\|remote\)/sh-scripts||g" )"
PATH+=":$MDLT_ORIGIN/myx/myx.distro-source/sh-scripts"
PATH+=":$MDLT_ORIGIN/myx/myx.distro-deploy/sh-scripts"


# Action myx/yaumnrc/test-parser.url
# Action make-ws2017.sh

Action(){
	if [ -z "$1" ] || [ "$1" == "--help" ] ; then
		( . "$MDLT_ORIGIN/myx/myx.distro-source/sh-lib/HelpConsoleAction.include" )
		set +e ; return 1
	fi
	local actionCommand="$1" ; shift
	case "$actionCommand" in
		*.sh)
			( \
				. "$MMDAPP/actions/$actionCommand" ; \
				echo "$actionCommand: finished." ; \
			)
		;;
		*.url)
			open "$MMDAPP/actions/$actionCommand"
		;;
		*)
			echo "Unknown Action Type, source:" >&2
			myx.common lib/prefix "    " cat "$MMDAPP/actions/$actionCommand"
	esac
}

if ! type Deploy >/dev/null 2>&1 ; then
	Deploy(){
		case "$1" in
			''|--*)
				( . "$MDLT_ORIGIN/myx/myx.distro-deploy/sh-lib/DeployConsole.include" )
				set +e ; return 1
			;;
		esac

		local distroCommand="$1" ; shift
		if ! type "${distroCommand%.fn.sh}" >/dev/null 2>&1 ; then
			if [ ! -f "$MDLT_ORIGIN/myx/myx.distro-deploy/sh-scripts/${distroCommand%.fn.sh}.fn.sh" ] ; then
				echo "⛔ ERROR: unknown command: ${distroCommand%.fn.sh}" >&2
				set +e ; return 1
			fi
			. "$MDLT_ORIGIN/myx/myx.distro-deploy/sh-scripts/${distroCommand%.fn.sh}.fn.sh"
		fi

		set +e

		"${distroCommand%.fn.sh}" "$@" || {
			EXITCODE=$?
			echo "⛔ ERROR: exited with error status ($EXITCODE)" >&2
			set +e
			return $EXITCODE
		}
		return 0

		( "${distroCommand%.fn.sh}" "$@" ; ) || {
			EXITCODE=$?
			echo "⛔ ERROR: exited with error status ($EXITCODE)" >&2
			set +e
			return $EXITCODE
		}
	}
fi

Source(){
	case "$1" in
		''|--*)
			( . "$MDLT_ORIGIN/myx/myx.distro-source/sh-lib/SourceConsole.include" )
			set +e ; return 1
		;;
	esac

	local distroCommand="$1" ; shift
	if ! type "${distroCommand%.fn.sh}" >/dev/null 2>&1 ; then
		if [ ! -f "$MDLT_ORIGIN/myx/myx.distro-source/sh-scripts/${distroCommand%.fn.sh}.fn.sh" ] ; then
			echo "⛔ ERROR: unknown command: ${distroCommand%.fn.sh}" >&2
			set +e ; return 1
		fi
		. "$MDLT_ORIGIN/myx/myx.distro-source/sh-scripts/${distroCommand%.fn.sh}.fn.sh"
	fi

	set +e

	"${distroCommand%.fn.sh}" "$@" || {
		EXITCODE=$?
		echo "⛔ ERROR: exited with error status ($EXITCODE)" >&2
		set +e
		return $EXITCODE
	}
	return 0

	( "${distroCommand%.fn.sh}" "$@" ; ) || {
		EXITCODE=$?
		echo "⛔ ERROR: exited with error status ($EXITCODE)" >&2
		set +e
		return $EXITCODE
	}
}

Help(){
	( . "$MDLT_ORIGIN/myx/myx.distro-source/sh-lib/HelpDistroSourceConsole.include" )
	set +e ; return 1
}

if complete -D &>/dev/null; then
	complete -F Distro -D
else
	complete -F Distro "" "*" "Action" "Require" "Distro" "Deploy" "Source" "which"
fi

PROMPT_COMMAND="set +e"
PS1="\` Source --shell-prompt \`: $PS1"
export PS1

if [ -n "$MDSC_PRJ_NAME" ] ; then
	# DistroSelectProject MDSC_PRJ_NAME "$MDSC_PRJ_NAME"
	export MDSC_SELECT_PROJECTS="$MDSC_PRJ_NAME"
	cd "$MMDAPP/source/$MDSC_PRJ_NAME"
	echo "Console: Project Selected: $MDSC_PRJ_NAME" >&2
fi
